[submodule "shared/logger_cpp"]
	path = shared/logger_cpp
	url = git@github.com:LightShield/logger_cpp.git
[submodule "shared/configs_loader"]
	path = shared/configs_loader
	url = git@github.com:LightShield/ConfigsLoader_cpp.git
