[submodule "shared/logger_cpp"]
	path = shared/logger_cpp
	url = git@github.com:LightShield/logger_cpp.git
[submodule "shared/configs_loader"]
	path = shared/configs_loader
	url = git@github.com:LightShield/configs_loader_cpp.git
[submodule "external/computer_enhance"]
	path = external/computer_enhance
	url = https://github.com/cmuratori/computer_enhance.git
